Form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  margin-bottom: 8px;
}

input {
  margin-bottom: 4px;
  padding: 10px;
}

.error {
  color: rgb(244, 75, 14);
  text-align: right;
  margin-bottom: 20px;
}

.buttonSubmit {
  padding: 10px;
  font-size: 20px;
  margin: 30px 200px;
}
